.ProseMirror * {
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
.ProseMirror ul[data-type="taskList"] p {
  margin: 0;
}
.ProseMirror ul[data-type="taskList"] li {
  display: flex;
}
.ProseMirror ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}
.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}
.ProseMirror code::before,
.ProseMirror code::after {
  content: "";
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror code {
  display: inline-flex;
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
